<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<p><a href="{% url 'home' %}"> На главную страницу </a></p>
<h1> Order history </h1>

{% for order in orders %}
<!--    {{ i }} - {{ i.price }}р. <br>-->
    {% for product in order.products.all %}
    {{product}}<br>
    {% endfor %}
{{order.total_price}}<br>
{{order.created_date}}<br>
<br>
{% endfor %}

<h2> Your info: </h2>

<!--<form action="" method="POST"> {% csrf_token %}-->

<!--</form>-->

</body>
</html>